
@{
    ViewBag.Title = "CustomerView";
}

<h2>Welcome @ViewBag.Name</h2>
<div>
    @Html.ActionLink("Tìm kiếm chuyến xe theo ngày", "SearchBusByDate", "Customer", null, new { @class = "btn btn-primary custom-link" })
    @Html.ActionLink("Tìm kiếm tuyến xe theo ngày", "SearchRouteByDate", "Customer", null, new { @class = "btn btn-primary custom-link" })
    @Html.ActionLink("Đăng xuất", "Logout", null, new { @class = "btn btn-primary custom-link" })
</div>
<style>
    .custom-link {
        background-color: #3498db;
        color: #ffffff;
        border: none;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 5px;
    }

        .custom-link:hover {
            background-color: #2980b9;
        }
</style>